<% @statuses.each do |s| %>
  <div class="col-md-4 col-sm-4" >
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <% @content_user = User.find_by_id(s.user_id) %>
        <% if @content_user.nil? %>
        <% else %>
          <div >
            <div class="col-sm-3">
              <%= image_tag @content_user.portrait_uri.url, size: "56x52", class: "image-circle" %>
              <div class="text-center">
                <%= render "users/user_relation" %>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="text-left">
                <strong><%= @content_user.username %></strong>
                <span class="caret"></span>
              </div>
              <div class="clearfix">
              </div>
              <div class="wrap-lengthen">
                <%= s.text %>
                <% @content_attach = Attachment.where(:attach_packet_id => s.attach_packet_id) %>
                <% if @content_attach.blank? %>
                <% else %>
                  <% @content_attach.each do |atth| %>
                    <%= image_tag atth.attach.url, size: "200x180" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="well">
        <div class="row">
          <%= render :partial => "contents/content_forward", :locals => {:content => s} %>
          <!-- partial default :object, contents because mains render, locals need patrial  -->
        </div>
        <div class="row">
          <%# @content = s #%>
          <%= render :partial => "comments/content_comment", :locals => {:user => @user, :content => s} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
