<p id="notice"><%= notice %></p>

<p>
  <strong>Res name:</strong>
  <%= @resource.res_name %>
</p>

<p>
  <strong>Res uri:</strong>
  <%= @resource.res_uri %>
</p>

<p>
  <strong>Res uri:</strong>
  <%= @resource.res_uri %>
</p>

<p>
  <strong>Res desc:</strong>
  <%= @resource.res_desc %>
</p>

<p>
  <strong>Respacket:</strong>
  <%= @resource.respacket_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
