<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="tex/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Mibo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

  <div class="header">
    <%= render 'layouts/navigation' %>
  </div>

  <div class="jumbotron masthead">
    <%=  render 'layouts/messages' %>
  </div>

  <div class="">
    <!-- padding no nested container -->
    <%= yield %>
  </div>

</body>
</html>
